In [1]:
import pandas as pd

In [69]:
df = pd.read_json('artists_shows_shard.json', lines=True)

In [70]:
print(df.shape)
df.head()

(15729, 3)

     artist                date                loc
0  2 Chainz 2019-06-30 05:30:00  Las Vegas, NV, US
1  2 Chainz 2019-07-12 11:00:00         London, UK
2  2 Chainz 2019-08-10 00:00:00    Anaheim, CA, US
3  2 Chainz 2019-08-24 22:00:00    Atlanta, GA, US
4  2 Chainz 2019-05-27 05:30:00  Las Vegas, NV, US

The column named loc should be renamed to prevent confusion  
with the 'pandas.DataFrame.loc()' method

In [71]:
df.columns = ['artist', 'date', 'location']
df.head()

     artist                date           location
0  2 Chainz 2019-06-30 05:30:00  Las Vegas, NV, US
1  2 Chainz 2019-07-12 11:00:00         London, UK
2  2 Chainz 2019-08-10 00:00:00    Anaheim, CA, US
3  2 Chainz 2019-08-24 22:00:00    Atlanta, GA, US
4  2 Chainz 2019-05-27 05:30:00  Las Vegas, NV, US

Trim shows outside US

In [72]:
domestic_df = df[df['location'].str.endswith('US')]
print(domestic_df.shape)
domestic_df.head()

(9608, 3)

     artist                date           location
0  2 Chainz 2019-06-30 05:30:00  Las Vegas, NV, US
2  2 Chainz 2019-08-10 00:00:00    Anaheim, CA, US
3  2 Chainz 2019-08-24 22:00:00    Atlanta, GA, US
4  2 Chainz 2019-05-27 05:30:00  Las Vegas, NV, US
5  2 Chainz 2019-05-19 00:00:00    Detroit, MI, US

Lets only make decisions based on shows with in the past five years.  
Trim any concerts before 2015.

In [73]:
recent_domestic_df = domestic_df[domestic_df.date >= '2015']
print(recent_domestic_df.shape)
recent_domestic_df.head()

(8642, 3)

     artist                date           location
0  2 Chainz 2019-06-30 05:30:00  Las Vegas, NV, US
2  2 Chainz 2019-08-10 00:00:00    Anaheim, CA, US
3  2 Chainz 2019-08-24 22:00:00    Atlanta, GA, US
4  2 Chainz 2019-05-27 05:30:00  Las Vegas, NV, US
5  2 Chainz 2019-05-19 00:00:00    Detroit, MI, US

In [87]:
cities_df = pd.read_csv('uscitiesv1.5.csv')

In [88]:
print(cities_df.shape)
cities_df.head(2)

(37842, 16)

,city,city_ascii,state_id,state_name,county_fips,county_name,lat,lng,population,population_proper,density,source,incorporated,timezone,zips,id
0,Prairie Ridge,Prairie Ridge,WA,Washington,53053,Pierce,47.1443,-122.1408,NaN,NaN,1349.8,polygon,False,America/Los_Angeles,98360 98391,1840037882
1,Edison,Edison,WA,Washington,53057,Skagit,48.5602,-122.4311,NaN,NaN,127.4,polygon,False,America/Los_Angeles,98232,1840017314

Let's just grab city, state id, lat and lng.

In [85]:
cities_df = cities_df[['city', 'state_id', 'lat', 'lng']]
cities_df.head(2)

            city state_id      lat       lng
0  Prairie Ridge       WA  47.1443 -122.1408
1         Edison       WA  48.5602 -122.4311

In [54]:
recent_domestic_df['location'].map(lambda x: x+'::')
recent_domestic_df.groupby(by='artist').agg(sum)

                                                                              location
artist
2 Chainz                             Las Vegas, NV, USAnaheim, CA, USAtlanta, GA, U...
21 Savage                            Oklahoma City, OK, USHouston, TX, USDallas, TX...
3 Doors Down                         Brainerd, MN, USAnderson, IN, USMiddletown, PA...
3LAU                                 Las Vegas, NV, USChicago, IL, USChicago, IL, U...
5 Seconds of Summer                  Cincinnati, OH, USBoston, MA, USUncasville, CT...
50 Cent                              Brooklyn, NY, USAtlantic City, NJ, USMiami Bea...
6LACK                                Chicago, IL, USAtlanta, GA, USLas Vegas, NV, U...
6ix9ine                                              Mesquite, TX, USSanta Ana, CA, US
A Boogie Wit da Hoodie               Chicago, IL, USFoxborough, MA, USAnaheim, CA, ...
A Day To Remember                    Portland, ME, USProvidence, RI, USAtlantic Cit...
A R I Z O N A                        New York, NY, USSeattle, WA, USMontauk, NY, US...
A Tribe Called Quest                 San Francisco, CA, USMorrison, CO, USNew York,...
A$AP Ferg                            Los Angeles, CA, USCollege Park, MD, USNorfolk...
A$AP Rocky                           Anaheim, CA, USLas Vegas, NV, USNew Orleans, L...
A.R. Rahman                          Sugar Land, TX, USTinley Park, IL, USOrlando, ...
AC/DC                                New York, NY, USBuffalo, NY, USKansas City, MO...
AJR                                  Chicago, IL, USCouncil Bluffs, IA, USLos Angel...
ARTY                                 Chicago, IL, USMiami Beach, FL, USWashington, ...
Above & Beyond                       Las Vegas, NV, USSquaw Valley, CA, USGeorge, W...
Academy of Ancient Music                                        North Bethesda, MD, US
Academy of St. Martin in the Fields  North Bethesda, MD, USSpringfield, IL, USWabas...
Adele                                Phoenix, AZ, USHouston, TX, USHouston, TX, USA...
Aerosmith                            Las Vegas, NV, USLas Vegas, NV, USLas Vegas, N...
Afrojack                             Miami Beach, FL, USNew York, NY, USHouston, TX...
Aisha Badru                          St Petersburg, FL, USOrlando, FL, USLenox, MA,...
Aitana                                                                   Miami, FL, US
Akon                                 Watkins Glen, NY, USCorvallis, OR, USMiami Bea...
Al Green                             Los Angeles, CA, USChicago, IL, USNew York, NY...
Alan Jackson                         Rogers, AR, USWichita, KS, USNorth Charleston,...
Alan Walker                          Philadelphia, MS, USLas Vegas, NV, USLas Vegas...
...                                                                                ...
Big Thief                            Brooklyn, NY, USNew York, NY, USNew York, NY, ...
Billie Eilish                        Milwaukee, WI, USLos Angeles, CA, USLos Angele...
Billie Marten                                                         New York, NY, US
Billy Joel                           New York, NY, USBaltimore, MD, USDenver, CO, U...
Billy Ray Cyrus                      Colorado Springs, CO, USHinckley, MN, USAtlant...
Birdtalker                           Gallatin, TN, USRoswell, GA, USChattanooga, TN...
Birdy                                Seattle, WA, USPortland, OR, USSan Francisco, ...
Bishop Briggs                        Denver, CO, USDenver, CO, USChicago, IL, USChi...
Blac Youngsta                        Louisville, KY, USIndependence, MO, USBaltimor...
Black Rebel Motorcycle Club          Tampa, FL, USFort Lauderdale, FL, USHuntington...
Black Sabbath                        San Antonio, TX, USHouston, TX, USTulsa, OK, U...
Blackberry Smoke                     Jacksonville, FL, USBoca Raton, FL, USSaint Pe...
Blackstreet                          Las Vegas, NV, USCincinnati, OH, USConcord, CA...
Blake Shelton                        Stateline, NV, USPaso Robles, CA, USSan Jose, ...
Blanco Brown                         Nashville, TN, USNashville, TN, USNashville, T...
Blanco White                         Washington, DC, USBoston, MA, USEvanston, IL, ...
BlocBoy JB                           Baltimore, MD, USMiami Beach, FL, USBaltimore,...
Blondie                              Bethel, NY, USUncasville, CT, USBoston, MA, US...
Blueface                             Fullerton, CA, USSacramento, CA, USChicago, IL...
Blur                                 New York, NY, USHollywood, CA, USBrooklyn, NY, US
BoA                                  Bloomington, IN, USAthens, GA, USLouisville, K...
Bob Dylan                            Morrison, CO, USNew Orleans, LA, USNew Orleans...
Bomba Estéreo                        Chicago, IL, USMiami Beach, FL, USChicago, IL,...
Bon Iver                             Milwaukee, WI, USBonner, MT, USVail, CO, USMor...
Bon Jovi                             Washington, DC, USNew York, NY, USNew York, NY...
Bonnie Raitt                         Fort Collins, CO, USPhiladelphia, PA, USPhilad...
Bonobo                               Detroit, MI, USChicago, IL, USDenver, CO, USSa...
Boston                               Bristow, VA, USSyracuse, NY, USBurgettstown, P...
Boston Symphony Orchestra            Lenox, MA, USLenox, MA, USLenox, MA, USLenox, ...
Boyz II Men                          Las Vegas, NV, USLas Vegas, NV, USLas Vegas, N...

[162 rows x 1 columns]

                                    date
artist
2 Chainz                             NaT
21 Savage                            NaT
3 Doors Down                         NaT
3LAU                                 NaT
5 Seconds of Summer                  NaT
50 Cent                              NaT
6LACK                                NaT
6ix9ine                              NaT
A Boogie Wit da Hoodie               NaT
A Day To Remember                    NaT
A R I Z O N A                        NaT
A Tribe Called Quest                 NaT
A$AP Ferg                            NaT
A$AP Rocky                           NaT
A.R. Rahman                          NaT
AC/DC                                NaT
AJR                                  NaT
ARTY                                 NaT
Above & Beyond                       NaT
Academy of Ancient Music             NaT
Academy of St. Martin in the Fields  NaT
Adele                                NaT
Aerosmith                            NaT
Afrojack                             NaT
Aisha Badru                          NaT
Aitana                               NaT
Akon                                 NaT
Al Green                             NaT
Alan Jackson                         NaT
Alan Walker                          NaT
...                                  ...
Billie Eilish                        NaT
Billie Marten                        NaT
Billy Joel                           NaT
Billy Ray Cyrus                      NaT
Birdtalker                           NaT
Birdy                                NaT
Bishop Briggs                        NaT
Blac Youngsta                        NaT
Black Rebel Motorcycle Club          NaT
Black Sabbath                        NaT
Blackberry Smoke                     NaT
Blackstreet                          NaT
Blake Shelton                        NaT
Blanco Brown                         NaT
Blanco White                         NaT
BlocBoy JB                           NaT
Blondie                              NaT
Blueface                             NaT
Blur                                 NaT
BoA                                  NaT
Bob Dylan                            NaT
Bomba Estéreo                        NaT
Bon Iver                             NaT
Bon Jovi                             NaT
Bonnie Raitt                         NaT
Bonobo                               NaT
Boston                               NaT
Boston Symphony Orchestra            NaT
Bournemouth Symphony Orchestra       NaT
Boyz II Men                          NaT

[170 rows x 1 columns]